/node_modules

# Bun cache
.bun*

# testing
/coverage

# next.js & Turborepo
**/.next/
/out/
**/.turbo/

# production
/build

# misc
.DS_Store
**/.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
**/*.tsbuildinfo
next-env.d.ts

# database
/drizzle/.wrangler
/drizzle/migrations
/drizzle/.sqlite*

# editor
.vscode

# documentation - NEVER commit these private docs
/docs/

# ignore nested package installs & builds
**/node_modules/
**/dist/

# caches
**/.cache/